<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
	
	<insert id="faq.create" parameterType="FaqVO">
		insert into faq(title,content,category) 
		values (#{title}, 
				#{content}, 
				#{category})
	</insert>
	
	<delete id="faq.del"  parameterType="FaqVO">
		delete from report where no = #{no}
	</delete>
	
	<update id="faq.up"  parameterType="FaqVO">
		update report set title = #{title} where no = #{no}
	</update>
	
	<select id="one" parameterType="Integer" resultType="FaqVO">
		select no,title,content,mem_id,date, view from report
		where no =#{no}
	</select>
	
	<select id="faq.all" resultType="FaqVO">
		select no, title, content, mem_id, date, view from report
	</select>
	
	<select id="category" parameterType="String" resultType="FaqVO">
		select no, title, content, mem_id, date, view from report
		where category=#{category}
	</select>
</mapper>











